extends ../layouts/application.pug

block content
  +formFor(t('views.users.change_password.caption'))(class='simple_form_new_user' novalidate action=route('updatePassword', { email }) method='post')&attributes(attributes)
    +input(formData, 'oldPassword', errors)(
      type='password'
      placeholder= t('views.users.change_password.old_password'))
    +input(formData, 'password', errors)(
      type='password'
      placeholder= t('views.users.change_password.password'))
    +input(formData, 'confirm', errors)(
      type='password'
      placeholder= t('views.users.change_password.confirm'))
    +submitFor('PUT')(value = t('views.users.change_password.submit'))

