extends ../layouts/application.pug

block content
  +formfor(t('views.users.change_password.caption'))(class='simple_form_new_user' novalidate action=action  method='post')&attributes(attributes)
    +input(formdata, 'password', errors)(
      type='password'
      placeholder= t('views.users.change_password.old_password'))
    +input(formdata, 'password', errors)(
      type='password'
      placeholder= t('views.users.change_password.password'))
    +input(formdata, 'password', errors)(
      type='password'
      placeholder= t('views.users.change_password.confirm'))
    +submit(value = t('views.users.change_password.submit'))

