extends ../layouts/application.pug

block content
  +formFor(t('views.users.edit.caption'))(class='simple_form_new_user' novalidate action=route('updateUser', { email: formData.email }) method='post')&attributes(attributes)
    +input(formData, 'email', errors)(
      class = "string email"
      type='email'
      placeholder= t('views.users.new.email'))
    +input(formData, 'firstname', errors)(
      type='firstname'
      placeholder= t('views.users.new.firstname'))
    +input(formData, 'lastname', errors)(
      type='lastname'
      placeholder= t('views.users.new.lastname'))
    +input(formData, 'role', errors)(
      type='hidden')
    a(href=route('getChangePasswordForm', { email: formData.email })) change password
    +buttonTo('put')(value = t('views.users.edit.submit'))

