extends ../layouts/application.pug

block header
  = t('views.users.list.caption')

block content
  p.buttons
    a(href=route('getRegisterUserForm'))
      i.fas.fa-plus
  table.table.table-striped.table-bordered
    thead.thead-dark
      tr
        th(scope=col)=t('views.id')
        th(scope=col)=t('views.email')
        th(scope=col)=t('views.users.firstname')
        th(scope=col)=t('views.users.lastname')
        th(scope=col)=t('views.users.role')
        th(scope=col)
      tbody
        each user in users
          tr
            td= user.id
            td= user.email
            td= user.firstname
            td= user.lastname
            td= user.role
            td
              ul.list-inline.m-0
                li.list-inline-item
                  a(href=route('getEditUserForm', { userId: user.id }))
                    i.fas.fa-edit
                li.list-inline-item
                  a(href=route('deleteUser',
                    { userId: user.id }) data-confirm=t('views.users.list.deleteConfirmation') data-method="delete" rel="nofollow")
                    i.fas.fa-trash
