extends ../layouts/application.pug

block content
  +formFor(caption)(class='simple_form_new_user' novalidate action=action  method='post')&attributes(attributes)
    +input(userDto, 'email', errors)(
      class = "string required email"
      type='email'
      placeholder= t('views.users.new.email'))
    +input(userDto, 'firstname', errors)(
      type='firstname'
      placeholder= t('views.users.new.firstname'))
    +input(userDto, 'lastname', errors)(
      type='lastname'
      placeholder= t('views.users.new.lastname'))
    +input(userDto, 'password', errors)(
      type='password'
      placeholder= t('views.users.new.password'))
    +input(userDto, 'confirm', errors)(
      type='password'
      placeholder= t('views.users.new.confirm'))
    +input(userDto, 'role', errors)(
      type='hidden')
    +submit(userDto)(value = t('views.users.new.submit'))

